TZ=America/Guayaquil
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8185

APP_CATALOG_REFRESH_FIXED_DELAY_MS=21600000
APP_CATALOG_REFRESH_INITIAL_DELAY_MS=30000
APP_INTEGRATIONS_DEFAULT_CONNECT_TIMEOUT_MS=5000
APP_INTEGRATIONS_DEFAULT_READ_TIMEOUT_MS=10000
APP_INTEGRATIONS_MOCK_ENABLED=true

APP_INTEGRATION_PROVIDERS_DEFAULT_BASE_URL=http://localhost:8185
APP_INTEGRATION_PROVIDERS_DEFAULT_TECHNICAL_USER=system
